body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utilities */
:root {
	--color-discount-red: #ff0000;
	--color-footer-black: #1a1a1a;
	--color-header-orange: #ff6900;
	--color-eco-green: #008000;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
ul{
    list-style: none;
}

/* end of utilities */

/* flex utilities */
.d-flex{
    display: flex;
}
.no-flex{
    display: block;
}
.space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
    align-content: center;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}
.align-center{
    align-items: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.baseline{
    align-items: baseline;
}
.space-around{
    justify-content: space-around;
}
.align-flex-start{
    align-items: flex-start;
}
/* end flex utilities */

header{
    background-color: var(--color-header-orange);
}
nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.logo{
    max-height: 50px;
}
a:hover{
    text-decoration: underline;
}

.item{
    width: calc(100% / 3);
    padding: 20px 8px 60px;
    position: relative;
}
.product{
    width: 100%;
    height: 100%;    
}
.description{
    display: block;
}
.price{
    display: inline-block;
}
.redprice{
    color: var(--color-discount-red);
    font-weight: 600;
}
.linethrough{
    text-decoration: line-through;
}
.hearth{
    position: absolute;
    padding: 8px;
    top: 50px;
    right: 8px;
    font-size: 30px;
    background-color: white;
}
.hearth:hover{
    color: blue
}
.badge{
    position: absolute;
    bottom: 110px;
    padding: 5px;
    
}
.greenbadge{
    background-color: var(--color-eco-green);
    color: white;
}
.redbadge{
    background-color: var(--color-discount-red);
    color: white;
}
.footer{
    background-color: var(--color-footer-black);   
    position: relative;
    color: white;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
}
.left{
    
    left: 0px;
    width: 300px;
    border: 3px solid #73AD21;
}